<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruiqing.dao.ImsdlProjBoundHydroelectricMapper">
	<resultMap id="BaseResultMap" type="com.ruiqing.dto.ImsdlProjBoundHydroelectricDTO">
		<id column="id"  property="id" />
	<result column="proj_ext_id"  property="projExtId" />
	<result column="proj_code"  property="projCode" />
	<result column="total_install_capa"  property="totalInstallCapa" />
	<result column="business_type"  property="businessType" />
	<result column="proj_plan_utilhours"  property="projPlanUtilhours" />
	<result column="proj_mark_utilhours"  property="projMarkUtilhours" />
	<result column="estim_hours"  property="estimHours" />
	<result column="proj_plan_utilprice"  property="projPlanUtilprice" />
	<result column="proj_mark_utilprice"  property="projMarkUtilprice" />
	<result column="comp_price"  property="compPrice" />
	<result column="year_capacity_electricity_charge"  property="yearCapacityElectricityCharge" />
	<result column="create_time"  property="createTime" />
	<result column="create_user_id"  property="createUserId" />
	<result column="update_time"  property="updateTime" />
	<result column="update_user_id"  property="updateUserId" />
	<result column="kilow_investamount"  property="kilowInvestamount" />
	<result column="kilow_opera_costs"  property="kilowOperaCosts" />
	<result column="pumping_price"  property="pumpingPrice" />
	<result column="feng_water_price"  property="fengWaterPrice" />
	<result column="flat_water_price"  property="flatWaterPrice" />
	<result column="dry_water_price"  property="dryWaterPrice" />

	</resultMap>

	<sql id="Base_Column_List">
		tm.id,tm.proj_ext_id,tm.proj_code,tm.total_install_capa,tm.business_type,
	tm.proj_plan_utilhours,tm.proj_mark_utilhours,tm.estim_hours,tm.proj_plan_utilprice,tm.proj_mark_utilprice,tm.comp_price,
	tm.year_capacity_electricity_charge,tm.create_time,tm.create_user_id,tm.update_time,tm.update_user_id,
	tm.kilow_investamount,tm.kilow_opera_costs,tm.pumping_price,tm.feng_water_price,tm.flat_water_price,tm.dry_water_price
	</sql>
	<insert id="insert" >
		INSERT INTO imsdl_proj_bound_hydroelectric(
	id,proj_ext_id,proj_code,total_install_capa,business_type,
	proj_plan_utilhours,proj_mark_utilhours,estim_hours,proj_plan_utilprice,proj_mark_utilprice,comp_price,
	year_capacity_electricity_charge,create_time,create_user_id,update_time,update_user_id,
	kilow_investamount,kilow_opera_costs,pumping_price,feng_water_price,flat_water_price,dry_water_price
	) VALUES (
	#{id},#{projExtId},#{projCode},#{totalInstallCapa},#{businessType},
	#{projPlanUtilhours},#{projMarkUtilhours},#{estimHours},#{projPlanUtilprice},#{projMarkUtilprice},#{compPrice},
	#{yearCapacityElectricityCharge},#{createTime},#{createUserId},#{updateTime},#{updateUserId},
	#{kilowInvestamount},#{kilowOperaCosts},#{pumpingPrice},#{fengWaterPrice},#{flatWaterPrice},#{dryWaterPrice}
	)
	</insert>

	<select id="findList" resultMap="BaseResultMap" >
		SELECT
		<include refid="Base_Column_List" />
		FROM imsdl_proj_bound_hydroelectric tm
		<include refid="Entity_Where_Clause" />
	</select>

	<update id="update" >
		UPDATE imsdl_proj_bound_hydroelectric
	 <set>
	  <if test="projExtId!=null" >
		  proj_ext_id=#{projExtId},
	  </if>
	  <if test="projCode!=null" >
		  proj_code=#{projCode},
	  </if>
	  total_install_capa=#{totalInstallCapa},
	  <if test="businessType!=null" >
		  business_type=#{businessType},
	  </if>
	  proj_plan_utilhours=#{projPlanUtilhours},
	  proj_mark_utilhours=#{projMarkUtilhours},
	  estim_hours=#{estimHours},
	  proj_plan_utilprice=#{projPlanUtilprice},
	  proj_mark_utilprice=#{projMarkUtilprice},
	  comp_price=#{compPrice},
	  year_capacity_electricity_charge=#{yearCapacityElectricityCharge},
	  kilow_investamount=#{kilowInvestamount},
     kilow_opera_costs=#{kilowOperaCosts},
     pumping_price=#{pumpingPrice},
	 feng_water_price=#{fengWaterPrice},
	 flat_water_price=#{flatWaterPrice},
	 dry_water_price=#{dryWaterPrice},
	  <if test="createTime!=null" >
		  create_time=#{createTime},
	  </if>
	  <if test="createUserId!=null" >
		  create_user_id=#{createUserId},
	  </if>
	  <if test="updateTime!=null" >
		  update_time=#{updateTime},
	  </if>
	  <if test="updateUserId!=null" >
		  update_user_id=#{updateUserId},
	  </if>
	</set>
	WHERE id=#{id}
	</update>

	<select id="getUserInfoById" parameterType="java.lang.String" resultType="com.ruiqing.dto.LaivieUserInfoDTO">
		SELECT
			user_id,
			NAME,
			age,
			birthday
		FROM
			laivie_user_info
		WHERE
			user_id = #{userId}
	</select>

	<select id="getBoundHydroelectricByExtId" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM imsdl_proj_bound_hydroelectric tm WHERE tm.proj_ext_id=#{projExtId}
	</select>



	<delete id="batchDelete" parameterType="java.util.List">
		DELETE FROM  imsdl_proj_bound_hydroelectric WHERE id IN
	  <foreach item="id" collection="list" open="(" separator="," close=")">
	  #{id}
	  </foreach>
	</delete>

	<sql id="Entity_Where_Clause">
		<where>
	      <if test="id!=null and id!=''" >
		 AND tm.id=#{id}
	      </if>
	      <if test="projExtId!=null and projExtId!=''" >
		 AND tm.proj_ext_id=#{projExtId}
	      </if>
	      <if test="projCode!=null and projCode!=''" >
		 AND tm.proj_code=#{projCode}
	      </if>
	      <if test="totalInstallCapa!=null and totalInstallCapa!=''" >
		 AND tm.total_install_capa=#{totalInstallCapa}
	      </if>
	      <if test="businessType!=null and businessType!=''" >
		 AND tm.business_type=#{businessType}
	      </if>
	      <if test="projPlanUtilhours!=null and projPlanUtilhours!=''" >
		 AND tm.proj_plan_utilhours=#{projPlanUtilhours}
	      </if>
	      <if test="projMarkUtilhours!=null and projMarkUtilhours!=''" >
		 AND tm.proj_mark_utilhours=#{projMarkUtilhours}
	      </if>
	      <if test="estimHours!=null and estimHours!=''" >
		 AND tm.estim_hours=#{estimHours}
	      </if>
	      <if test="projPlanUtilprice!=null and projPlanUtilprice!=''" >
		 AND tm.proj_plan_utilprice=#{projPlanUtilprice}
	      </if>
	      <if test="projMarkUtilprice!=null and projMarkUtilprice!=''" >
		 AND tm.proj_mark_utilprice=#{projMarkUtilprice}
	      </if>
	      <if test="compPrice!=null and compPrice!=''" >
		 AND tm.comp_price=#{compPrice}
	      </if>
	      <if test="yearCapacityElectricityCharge!=null and yearCapacityElectricityCharge!=''" >
		 AND tm.year_capacity_electricity_charge=#{yearCapacityElectricityCharge}
	      </if>
	      <if test="createTime!=null " >
		 AND tm.create_time=#{createTime}
	      </if>
	      <if test="createUserId!=null and createUserId!=''" >
		 AND tm.create_user_id=#{createUserId}
	      </if>
	      <if test="updateTime!=null " >
		 AND tm.update_time=#{updateTime}
	      </if>
	      <if test="updateUserId!=null and updateUserId!=''" >
		 AND tm.update_user_id=#{updateUserId}
	      </if>
	     <if test="kilowInvestamount!=null and kilowInvestamount!=''" >
		 AND tm.kilow_investamount=#{kilowInvestamount}
	      </if>
	     <if test="kilowOperaCosts!=null and kilowOperaCosts!=''" >
		 AND tm.kilow_opera_costs=#{kilowOperaCosts}
	      </if>
	     <if test="pumpingPrice!=null and pumpingPrice!=''" >
		 AND tm.pumping_price=#{pumpingPrice}
	      </if>
	     <if test="fengWaterPrice!=null and fengWaterPrice!=''" >
		 AND tm.feng_water_price=#{fengWaterPrice}
	      </if>
	     <if test="flatWaterPrice!=null and flatWaterPrice!=''" >
		 AND tm.flat_water_price=#{flatWaterPrice}
	      </if>
	     <if test="dryWaterPrice!=null and dryWaterPrice!=''" >
		 AND tm.dry_water_price=#{dryWaterPrice}
	      </if>
	  </where>

	</sql>
	
</mapper>

